{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header"><a href="{{url}}">{{{title}}}</a></h3>
    <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    <footer>
        {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
        {{author}}
        {{tags prefix=" on "}}
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </footer>
    <a class="ui large button">Read More</a>
  </div>
</div>
{{/foreach}}
<h4 class="ui horizontal header divider">
  <a href="#">Case Studies</a>
</h4>
{{! Previous/next page links - displayed on every page }}
{{pagination}}
